<% if !@sub_groups.nil?  && !@sub_groups.empty?  %>
	<ul id="user_groups">
		<% for group in @sub_groups %>
			<% if group.parent_id == @parent_check_id %>
		    <li><a href='/<%= group.get_full_path %>'>#<%= group.name %></a>
				<% if !group.sub_groups.nil? %>
					<ul id="user_groups_sub_groups">
						<% group.sub_groups.each do |sg| %>
							<li><a href='/<%= sg.get_full_path %>'>#<%= sg.name %></a></li>
						<% end %>
					</ul>
				<% end %>			
			</li>		
			<% end %>
		<% end %>
	</ul>	
<% elsif @error_messages != "" %>
Error: <%= @error_messages %>
<% end %>
