<% if !@vips.nil? && !@vips.empty? %>
	<% @vips.each do |vip| %>
		<a href='http://twitter.com/<%= vip["screen_name"] %>' target='_blank'><img src='<%= vip["profile_image_url"] %>' alt='<%= vip["name"] %> - <%= vip["screen_name"] %>' title='<%= vip["name"] %> - <%= vip["screen_name"] %>' class='vip_image' /></a>
	<% end %>
  <% elsif @error_messages != "" %>
    Error: <%= @error_messages %>
<% end %>