<%= javascript_include_tag "groups" %>
<%= javascript_include_tag "group_data_editing.js" %>
<%= javascript_include_tag "jquery.form.js" %>

<% if @group.nil? %>
	Unable to find group
<% end %>

<div id="live_feed">
	<div id="groupRecentTweets">
		<ul>
	    	<li id="tweetTemplate" class='tweet'>
				<hr class='tweet_rule' />
				<img src='/images/fakeAvatar.jpg' alt='' class='profile_image' height="48px" width="48px"/>
				<div class='tweet_info'>
	        		<span class="tweeter"><a href='#'></a></span>				
	        		<span class="update_stamp"></span>					
				</div>
				<div class='tweet'></div>
				<div class='clear'></div>
	      	</li>
		</ul>
	</div>
	<form>
		<input type="hidden" id="sinceTweetId" value="0" />
	</form>
</div>
<div id="sidebar">
	<h2>#<%=@group.name%></h2>
	<em>
		hashtag 
		<% if @group.parent_id != 0 %>
			<a href='/groups/<%=@group.parent.get_full_path %>' id='parent_link'>child of #<%= @group.parent.name %></a>		
		<% end %>
		</em>
	<br /><br />
	
	<h3>
		<%= "<a href='javascript:void(0)' class='edit_inline_link' id='edit_title_inline_link'>" if User.can_edit_group?(@group, session[:twitter_name])  %>
		<%= @group.title == "" ? 'Set a group short name' : @group.title %>
		<%= "</a>"  if User.can_edit_group?(@group, session[:twitter_name])  %>
	</h3>

	<% 
	if User.can_edit_group?(@group, session[:twitter_name])  
		form_for :group_datum, :url => "/groups/set_data?format=json", :html => { :id => "title_form", :class=>"group_data_form" } do |p| %>
		<%= p.text_field :description, :size=>30, :maxlength=>140, :id=>'title_box', :value=>@group.title %>
		<%= p.hidden_field :group_id, :value=>@group.id %>
		<%= p.hidden_field :group_data_type_id, :value=>GroupDataType.title.id %>
		<%= p.submit "save", :class => "submit, submit_button" %>	
		<% end
	 end %>
	<em>short name 
		<%= "<a href='javascript:void(0)' class='edit_data_link' id='edit_title_link'>edit</a><a href='javascript:void(0)' class='save_data_link' id='save_title_link'>save</a>"  if User.can_edit_group?(@group, session[:twitter_name])  %>
	</em>	
	<br/><br/>

  <% if params[:test_mode] %>
		<% if User.can_edit_group?(@group, session[:twitter_name])   %>
			<a id='add_vip_link' href='javascript:void(0);'>Add group VIP</a>
			<a id='cancel_add_vip_link' href='javascript:void(0);'>cancel</a>
			<div id='add_vip'>
				<% form_for [:group,@vip_user], :url => {:action=>"add_group_vip", :format => "json"}, :html => { :id => "add_vip_form" } do |p| %>
					<%= p.label :name, "twitter user: " %>
					<%= p.text_field :twitter_name, :size=>20, :maxlength=>140, :id=>'add_vip_box' %>
					<%= p.hidden_field :group_id, :value=>@group.id %>
					<a href='javascript:void(0)' id='save_vip_link'>save</a>
					<%= p.submit "Create VIP", :class => "submit, submit_button" %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	
	<h4>
		<%= "<a href='javascript:void(0)' class='edit_inline_link' id='edit_description_inline_link'>"  if User.can_edit_group?(@group, session[:twitter_name])    %>
		<%= @group.description == "" ? "Set a group description" : @group.description.gsub(/\n/, '<br />') %>
		<%= "</a>"  if User.can_edit_group?(@group, session[:twitter_name])   %>
	</h4>
	<% 
 	if User.can_edit_group?(@group, session[:twitter_name])  	
		form_for :group_datum, :url => "/groups/set_data?format=json", :html => { :id => "description_form", :class=>"group_data_form" } do |p| %>
			<%= p.text_area :description, :rows=>6, :cols=>30, :maxlength=>140, :id=>'description_box', :value=>@group.description %>
			<%= p.hidden_field :group_id, :value=>@group.id %>
			<%= p.hidden_field :group_data_type_id, :value=>GroupDataType.description.id %>
			<%= p.submit "save", :class => "submit, submit_button" %>	
		<% end 
	end %>	
	<em>description 
		<%= "<a href='javascript:void(0)' class='edit_data_link' id='edit_description_link'>edit</a><a href='javascript:void(0)' class='save_data_link' id='save_description_link'>save</a>"  if User.can_edit_group?(@group, session[:twitter_name])    %>
	</em>	
	<br/><br/>
	
	<div id='vips'>
		<%= render :partial => "vips" %>
		<br />		
		<em>organizers / VIPs</em>
	</div>
	
	<div id='sub_groups'>
		<% if !@group.sub_groups.nil? %>
			<ul id='subgroup_list'>		
				<%= render :partial => "subgroups" %>
			</ul>
		<% end %>
		
		<em>related groups</em> 
		<% if User.can_edit_group?(@group, session[:twitter_name])   %>
			<a id='add_subgroup_link' href='javascript:void(0);'>Add sub-group</a>
			<a id='cancel_add_subgroup_link' href='javascript:void(0);'>cancel</a>
			<div id='add_sub_group'>
				<% form_for :group, :url => {:action=>"new"}, :html => { :id => "add_sub_group_form" } do |p| %>
					<%= p.label :name, "hashtag: " %>
					<%= p.text_field :name, :size=>20, :maxlength=>140, :id=>'add_subgroup_box' %>
					<%= p.hidden_field :parent_id, :value=>@group.id %>
					<a href='javascript:void(0)' id='save_subgroup_link'>save</a>
					<%= p.submit "Create Group", :class => "submit, submit_button" %>				
				<% end %>
			</div>
			<p style="color: green"><%= flash[:notice] %></p>		
		<% end %>
	</div>
</div>

