<% if @group.nil? %>
	Unable to find group
<% end %>
<%= @group.name if !@group.nil? %>
  <% if @group.sub_groups %>
  <ul>
    <% @group.sub_groups.each do |sg| %>
      <li><a href='/groups/<%= sg.get_full_path %>'><%= sg.name %></a></li>
    <% end %>
  </ul>
  <% end %>

  <p>
    <h2>recent tweets</h2>
    <%= pull_recent_tweets(@group.get_full_path,5) %>
  </p>

<br/>
<br/>

<% if !@group.nil? %>
	<a href='/groups/new/<%= @group.id %>'>Add sub-group</a><br />	
<% end %>