<%= javascript_include_tag "group_data_editing.js" %>
<%= javascript_include_tag "jquery.form.js" %>


<% if @group.nil? %>
	Unable to find group
<% end %>
	
<%= @group.name if !@group.nil? %>
<%= @group.title if !@group.title.nil? %>
<a href='javascript:void(0)' class='edit_inline'><%= @group.description %></a>
<% form_for :group_data, :url => {:action=>"set_data"}, :html => { :id => "description_form" } do |p| %>
	<%= p.text_field :description, :size=>30, :maxlength=>140, :id=>'description_box', :value=>@group.description %>
	<%= p.hidden_field :group_id, :value=>@group.description %>
	<%= p.hidden_field :group_data_type_id, :value=>GroupDataType.description.id %>
	<%= p.submit "save", :class => "submit" %>	
<% end %>
  <% if @group.sub_groups %>
  <ul>
    <% @group.sub_groups.each do |sg| %>
      <li><a href='/groups/<%= sg.get_full_path %>'><%= sg.name %></a></li>
    <% end %>
  </ul>
  <% end %>
  <h2>recent tweets</h2>
  <div id="groupRecentTweets">
    <ul >
      <li id="tweetTemplate" style="display:none;">
        <span id="tweeter"></span>:<span id="tweet"></span>
      </li>
    </ul>
  </div>
  <form>
    <input type="hidden" id="sinceTweetId" value="0" />
  </form>

<br/>

<br/>

<% if !@group.nil? %>
	<a href='/groups/new/<%= @group.id %>'>Add sub-group</a><br />	
<% end %>