<div id='user_section'>
	<% if !session[:username].blank? %>
		<div id='add_new_event'>
			<h4>Welcome @<%= @user.twitter_name%>!</h4>
			<br />
			<a href='javascript:void(0);' id='add_event_link'>Add a event</a>
			<a href='javascript:void(0);' id='cancel_add_event_link'>cancel</a>
		
			<% form_for :event, :url => {:controller=>"events", :action=>"new"}, :html => { :id => "add_event_form" } do |p| %>
				<%= p.label :name, "hashtag: " %>
				<%= p.text_field :name, :size=>20, :maxlength=>140, :id=>'add_event_box' %>
				<a href='javascript:void(0)' id='save_event_link'>save</a>
				<%= p.submit "Create event", :class => "submit, submit_button" %>				
			<% end %>
		</div>
		<h4>Manage your events</h4>
		<%= render :partial => "user/event_heirarchy" %>	
	<% end %>	
</div>