<% if !@sub_events.nil?  && !@sub_events.empty?  %>
	<ul id="user_events">
		<% for event in @sub_events %>
			<% if event.parent_id == @parent_check_id %>
		    <li><a href='/<%= event.get_full_path %>'>#<%= event.name %></a>
				<% if !event.sub_events.nil? %>
					<ul id="user_events_sub_events">
						<% event.sub_events.each do |sg| %>
							<li><a href='/<%= sg.get_full_path %>'>#<%= sg.name %></a></li>
						<% end %>
					</ul>
				<% end %>			
			</li>		
			<% end %>
		<% end %>
	</ul>	
<% elsif @error_messages != "" %>
Error: <%= @error_messages %>
<% end %>
