<%= javascript_include_tag "jquery-ui-1.7.2.custom.min.js" %>
<%= javascript_include_tag "jquery.watermark.min.js" %>
<%= javascript_include_tag "create_event.js" %>
<%= stylesheet_link_tag 'jquery-ui/jquery-ui-1.7.2.custom' %>
<%= stylesheet_link_tag 'create_event' %>

<div id='main_content'>
	<% form_for :event, :url => "/events/create", :id=>"createEventForm" do |p| %>
		<%= p.error_messages %>
		<fieldset>
			<legend>Create an Event</legend>
			<div class='row'>
				<%= p.text_field :name, :size=>30, :maxlength=>140, :class=>"fill" %>
			</div>
			<div class='row'>
				<div class='field_description'><label for="search_terms_0"><img src='/images/view.png' />Search Terms</label></div>
				<div id='search_terms'>
                    <input type="text" id="search_terms_0" name="search_terms[]" size="20" class='search_terms active_search_term' />
				</div>
				<div id='addLink'>
					<input type='button' id='add_search_term' value='Add Another Search Term' />
				</div>				
			</div>
			<div>
				<%= p.text_area :description %>
			</div>
			<div>
				<%= p.submit "Create Event", :class => "submit" %>
			</div>
		</fieldset>
	<% end %>
</div>
<div id='sidebar'>
	<div id='event_name_help' class='help_box'>
		<h2>Event Name <small class='required'>(required)</small></h2>
	    <p>This is the name that will display at the top of your event. It should usually match the name that was promoted for the event or that your attendees will be familiar with. </p>
        <p class='validation_warning'>The event name is required.</p>
	</div>
	<div id='search_term_help' class='help_box'>
		<h2>Search Term <small class='required'>(required)</small></h2>
		<p>Search terms are keyword or phrases that we will use when we look for messages about your event on the real time web.</p>
		<p>Each phrase is usually one word and may be preceded with a hash sign (#).</p>		
		<p>On Twitter these are known as hashtags.</p>
        <p class='validation_warning'>At least one search term is required to save your event.</p>
	</div>
	<div id='description_help' class='help_box'>
		<h2>Description</h2>
		<p>The description gives your attendees and web visitors more information about your event.</p>
		<p>You might consider including a summary of the content of the event as well as where in the real world the event takes place.</p>      
	</div>	
</div>
<div id='loginPopup'></div>