<%= javascript_include_tag "jquery.json.js" %>
<%= javascript_include_tag "message_persister.js" %>
<%= javascript_include_tag "tweet_puller.js" %>
<%= javascript_include_tag "event_data_editing.js" %>
<%= javascript_include_tag "jquery.form.js" %>

<script>
	var autoload = true;
	var twitter_search_url = "<%= @twitter_search_url %>";
	var event_id = <%= @event.id %>;
	var twitter_last_message_id = <%= @twitter_last_message_id %>;
</script>
<%= javascript_include_tag "events" %>

<div id='json'></div>

<% if @event.nil? %>
	Unable to find event
<% end %>
<div id='main_content'>
    <h2><%= @event.name %></h2>
    <div id="live_feed">
        <img id='loading_graphic' src='images/ajax-loader.gif'>
        <div id="eventRecentTweets">
            <ul>
                <li id="messageTemplate" class='tweet'>
                    <hr class='tweet_rule' />
                    <img src='/images/fakeAvatar.jpg' alt='' class='profile_image' height="48px" width="48px"/>
                    <div class='tweet_info'>
                        <span class="tweeter"><a href='#'></a></span>
                        <span class="update_stamp"></span>
                    </div>
                    <div class='tweet'></div>
                    <div class='clear'></div>
                </li>
				<%  @event.messages.each do |message| %>
					<li class='tweet'>
	                    <hr class='tweet_rule' />
	                    <img src='<%= message.profile_image_url %>' alt='' class='profile_image' height="48px" width="48px"/>
	                    <div class='tweet_info'>
	                        <span class="tweeter"><a href='<%= message.origin_url %><%= message.from_user %>>'>@<%=message.from_user %></a></span>
	                        <span class="update_stamp"><%= distance_of_time_in_words(message.created, Time.now) %> ago</span>
	                    </div>
	                    <div class='tweet'><%= message.text %></div>
	                    <div class='clear'></div>
	                </li>
				<% end unless @event.messages.nil? %>
            </ul>
        </div>		
        <form>
            <input type="hidden" id="sinceTweetId" value="0" />
        </form>
    </div>
</div>
<div id="sidebar">
	<%= render :partial => "search_terms" %>
	<em>search terms</em>
	<br /><br />	
	
	<h4>
		<%= "<a href='javascript:void(0)' class='edit_inline_link' id='edit_description_inline_link'>"  if User.can_edit_event?(@event, session[:twitter_name])    %>
		<%= @event.description.blank? ? "No event description set" : @event.description.gsub(/\n/, '<br />') %>
		<%= "</a>"  if User.can_edit_event?(@event, session[:twitter_name])   %>
	</h4>
	<em>description 
		<%= "<a href='javascript:void(0)' class='edit_data_link' id='edit_description_link'>edit</a><a href='javascript:void(0)' class='save_data_link' id='save_description_link'>save</a>"  if User.can_edit_event?(@event, session[:twitter_name])    %>
	</em>	
	<br/><br/>
	
	<div id='vips'>
		<div id='vip_content'>
			<%= render :partial => "vips" %>
		</div>
		<em>organizers / VIPs</em>
		<% if User.can_edit_event?(@event, session[:twitter_name])   %>
			<a id='add_vip_link' href='javascript:void(0);'>Add event VIP</a>
			<a id='cancel_add_vip_link' href='javascript:void(0);'>cancel</a>
			<div id='add_vip'>
				<% form_for [:event,@vip_user], :url => {:action=>"add_event_vip"}, :html => { :id => "add_vip_form" } do |p| %>
					<%= p.label :name, "twitter user: " %>
					<%= p.text_field :twitter_name, :size=>20, :maxlength=>140, :id=>'add_vip_box' %>
					<%= p.hidden_field :event_id, :value=>@event.id %>
					<a href='javascript:void(0)' id='save_vip_link'>save</a>
					<%= p.submit "Create VIP", :class => "submit, submit_button" %>
				<% end %>
			</div>
		<% end %>
		
	</div>	
	<div id='participants'>
		<% #render :partial => "participants" %>
		<br />		
		<em>participants</em>
	</div>	
</div>