<table>
	<thead>
		<th>Event Name</th>
		<th>Description</th>
		<th>Search Terms</th>
		<th>Owner</th>
		<th></th>
	</thead>
	<tbody>
		<tr class='subheading'>
			<td colspan='5'>
				<h4>Events you have created</h4>
			</td>
		</tr>
		<% logged_in_user.created_events.each do |event| %>
			<tr>
				<td><a href='/event/show/<%= event.id %>'><%= event.name %></a></td>
				<td><%= event.description %></td>
				<td><%= event.search_terms.collect{|x| x.term }.join(", ") %></td>
				<td><%= event.creator.display_name %></td>
				<td><a href='javascript:void(0)'>Edit</a> | <a href='javascript:void(0)'>Delete</a></td>
			</tr>
		<% end %>
		<tr class='subheading'>
			<td colspan='5'>
				<h4>Events you are following</h4>
			</td>
		</tr>
		<% logged_in_user.events.each do |event| %>
			<% if !logged_in_user.created_events.include? event %>
				<tr>
					<td><a href='/event/show/<%= event.id %>'><%= event.name %></a></td>
					<td><%= event.description %></td>
					<td><%= event.search_terms.collect{|x| x.term }.join(", ") %></td>
					<td colspan='2'><%= event.creator.display_name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>