<%= javascript_include_tag "index.js" %>
<%= javascript_include_tag "jquery.form.js" %>
<div id='container'>
	<h1>Twoups</h1>
	<div id='body_container'>
		<div id='search_container'>
				<% form_for :search, :url => {:action=>"search"}, :html => { :id => "search_form" } do |p| %>
					<%= p.text_field :query, :size=>30, :maxlength=>140, :id=>'search_box', :value=>'Search for conversations' %>
					<a id='search_button' href='#' type='submit' class='submit'></a>
				<% end %>
			<div id='description_text'>
				<span id='examples'>examples:</span>
				<ul id='examples_list'>
					<li>#twoups</li>
					<li>#railsrumble</li>
					<li>@twoupsinfo</li>
				</ul>
			</div>
			<div id='search_results'>
			</div>
		</div>
		<div id='login_user_section'>
      <div>
        <h4>Welcome @<%= @user.twitter_name%>!</h4>
        <br />
        <%= link_to "Add a group", :controller=>"groups", :action=>"new" %>
      </div>
      <h4>Manage your groups</h4>
      <ul id="user_groups">
        <% for group in @user.groups %>
          <% if group.parent_id == 0 %>
            <li><a href='/groups/<%= group.get_full_path %>'><%= group.name %></a></li>
            <% if !group.sub_groups.nil? %>
            <li><ul id="user_groups_sub_groups">
              <% group.sub_groups.each do |sg| %>
                <li><a href='/groups/<%= sg.get_full_path %>'><%= sg.name %></a>
              <% end %>
            </li></ul>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <br />

			</div>
		<div class='clear'></div>
	</div>
	<div id='footer'>
		email: <a href='mailto:info@twoups.com' id='email_link'>info@twoups.com</a>
		twitter: <a href='http://twitter.com/twoupsinfo' id='twitter_link'>@twoupsinfo</a>
	</div>
</div>