<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Twoups - Organizes your twitter conversations</title>
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'jquery.cluetip' %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "jquery.hoverIntent.js" %>
	<%= javascript_include_tag "jquery.cluetip.js" %>	
	<%= javascript_include_tag "header.js" %>
  <!-- google analytics -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-10353595-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</head>
<body>
	<div id='container'>
    <% if controller.controller_name == "groups" %>
      <h1 class="logged_in">Twoups
        <div id="group_header_search">
            <% form_for :search, :url => {:controller => "home", :action=>"index"}, :html => { :id => "search_form" } do |p| %>
                <%= p.text_field :query, :size=>30, :maxlength=>140, :id=>'search_box', :value=>'' %>
                <a onclick="$('#search_form').submit();" class="submit" type="submit"><img src="../images/groupSearchButtonOff.png"/></a>
            <% end %>
        </div>
        <div id="group_header_nav">
          <a href="/" id="home_header_link"><span>&nbsp;</span></a>
          <%  if session[:twitter_name] %>
            <a href="/user/groups" rel="/user/groups" id="my_groups_header_link" title="My Groups"><span>&nbsp;</span></a>
          <% end %>
        </div>
      </h1>
	  <div id='my_groups_container'></div>

    <% else %>
      <h1 class='not_logged_in'>Twoups
	    <div id="group_header_nav">
          <a href="/" id="home_header_link"><span>&nbsp;</span></a>
        </div>
	 </h1>
    <% end %>
		<div id='body_container'>
			<%= yield  %>
			<div class='clear'></div>			
		</div>
		<div id='footer'>
			<a href='/home/about_us' id='about_link'>about twoups</a>
			email: <a href='mailto:info@twoups.com' id='email_link'>info@twoups.com</a>
			twitter: <a href='http://twitter.com/asktwoups' id='twitter_link' target='_blank'>@asktwoups</a>
		</div>
	</div>
</body>
</html>
