<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Twoups - Organizes your twitter conversations</title>
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'jquery.cluetip' %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "jquery.hoverIntent.js" %>
	<%= javascript_include_tag "jquery.cluetip.js" %>	
	<%= javascript_include_tag "header.js" %>	
</head>
<body>
	<div id='container'>
    <% if controller.controller_name == "groups" && !session[:twitter_user].nil? %>
      <h1 class="logged_in">Twoups
        <div id="group_header_search">
          <form>
            <input type="text" />
            <a href="#" class="submit" type="submit"><img src="../images/groupSearchButtonOff.png"/></a>
          </form>
        </div>
        <div id="group_header_nav">
          <a href="/" id="home_header_link"><span>&nbsp;</span></a>
          <a href="/user/groups" rel="/user/groups" id="my_groups_header_link" title="My Groups"><span>&nbsp;</span></a>
        </div>
      </h1>
	  <div id='my_groups_container'></div>

    <% else %>
      <h1>Twoups</h1>
    <% end %>
		<div id='body_container'>
			<%= yield  %>
			<div class='clear'></div>			
		</div>
		<div id='footer'>
			email: <a href='mailto:info@twoups.com' id='email_link'>info@twoups.com</a>
			twitter: <a href='http://twitter.com/twoupsinfo' id='twitter_link' target='_blank'>@twoupsinfo</a>
		</div>
	</div>
</body>
</html>
